* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.title {
  font-weight: bold;
  font-size: 16px;
  margin: 10px 0;
}

.task {
  border: 1px solid #ececec;
  color: #333333;
  margin-bottom: 16px;

  &__item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ececec;
    padding: 11px 12px;
    justify-content: space-between;
  }

  &__delete {
    color: red;
    cursor: pointer;
    font-weight: bold;
  }

  &__right {
    padding-left: 12px;
    flex: 1
  }

  &__name {
    font-weight: bold;
  }

  &__price {
    margin: 5px 0;
  }

  &__description {
    font-style: italic;
  }
}


.form {
  margin-top: 40px;

  &__label {
    font-size: 12px;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
  }
  &__row {
    margin-bottom: 16px;
  }

  input {
    width: 100%;
    height: 40px;
    padding: 0 12px;
    border: 1px solid #ececec;

    &.ng-touched.ng-invalid{
      border-color: red;
    }
  }
}

select {
  width: 100%;
  height: 40px;
  padding: 0 12px;
  margin-bottom: 20px;
  border: 1px solid #ececec;
}

button {
  border: 0;
  background-color: green;
  color: white;
  height: 40px;
  padding: 0 12px;

  &:not(.disabled) {
    &:hover {
      cursor: pointer;
      background-color: #003a00;
    }
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.btn-black {
    margin: 10px 12px;
    background-color: #333333;

    &:not(.disabled) {
      &:hover {
        background-color: #090909;
      }
    }
  }
}


