<p class="title">Task Board</p>

<select (change)="filterTaskTypes($event.target.value)">
    <option selected disabled>choose</option>
    <option *ngFor="let option of optionList"
            [value]="option" >{{option}}</option>
</select>

<div class="task">
    <div class="task__item" *ngFor="let item of (resultArray | filterCompletedTaskPipe)">
        <div>
           <input type="checkbox" [checked]="item.checked" (change)="toggleCheck($event.target.checked, item)">
        </div>
        <div class="task__right">
            <p class="task__name">{{ item.title }}</p>
            <p class="task__price">{{ item.description}}</p>
        </div>
    </div>
</div>

<form [formGroup]="taskCreationForm" class="form">
    <div class="form__row">
        <span class="form__label">title</span>
        <input type="text" formControlName="title">
    </div>
    <div class="form__row">
        <span class="form__label">description</span>
        <input type="text" formControlName="description">
    </div>
    <div class="form__row">
        <button (click)="createTask()">create task</button>
    </div>
</form>